body {
    background-color: #222;
    color: #999;
    font-size: 1.25em;
}

h1 {
    color: darkgoldenrod;
}

h2 {
    color: darkgreen;
}

h3 {
    color: dodgerblue;
}

p {
    color: darkkhaki;
}

pre {
    color: darkcyan;
    overflow: auto;
}

section {
    border: 1px solid black;
    padding: 5px;
    max-width: 1024px;
}